DB_URL=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRETES=

CORS_ALLOWED_ORIGIN_PATTERNS=*
